.App {
  text-align: center;
}

.app-container, .list-container{
  display: flex;
  justify-content: space-evenly;
}

.animals_info{
  display: flex;
  flex-direction: column;
  justify-content: left;
}